<div class='container content'> 
  <h1> Note Taker App</h1>

  <form> 
    <div class='form-group'>
        <input type='text' required placeholder='Add a note' class='form-control' name='note_title'>
    </div>

    <button type='submit' class='btn btn-default'>Add note</button>
  </form>

  <div class='content-burger'>
    {{#each notes}} 
      <div class='content-burger__list' id={{id}}>
        <img src='../images/notepadicon.png' alt="">
        <p>{{note_title}}</p>
        <button class='btn btn-default favorites' data-id='{{note_id}}' data-state='{{is_favorite}}'>
          {{#if is_favorite}} unfavorite {{else}} add to Favorite {{/if}}
        </button>
      </div>
    {{/each}}
  </div>

</div>






{{!-- {{#each notes}}

  <p>{{id}}</p>
  <p>{{note_owner}}</p>
  <p>{{note_title}}</p>
  <p>{{contents}}</p>

{{/each}} --}}